.element {
    margin: 0 auto;
    bottom: 0;
    width: 3%;
}

.block {
    /*background-color: red;*/
    /*width: 50px;*/
    bottom: 0;
}

.number {
    /*width: 50px;*/
    height: 20px;
    text-align: center;
    font-size: 20px;
    color: black;
    bottom: 0;
}

.noview {
    color: transparent;
    background-color: transparent;
}