.form {
    width: 600px;
    position: fixed;
    bottom: 10%;
    height: 10%;
    left: 0;
    display: flex;
}

.input {
    width: 400px;
    font-size: 20px;
}

.button {
    width: 200px;
    font-size: 20px;
}